.colorBlack{
    color: black;
    font-size: 1.2em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.colorWhite{
    color: white;
    font-size: 1.2em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.myImage{
    width: 1116px;
    height: calc(100vh - 80px);
}

.borderRadius10{
    border-radius: 10px;
    overflow: hidden;
}